<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79944665764-jmm9rnst7r9gtgredn7cqknofvqisequ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79944665764-jmm9rnst7r9gtgredn7cqknofvqisequ</string>
	<key>API_KEY</key>
	<string>AIzaSyCyeUhTYHYOI4F7krp5mWcfniD68ILT024</string>
	<key>GCM_SENDER_ID</key>
	<string>79944665764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xhh.eventfulMobile</string>
	<key>PROJECT_ID</key>
	<string>eventful-870ba</string>
	<key>STORAGE_BUCKET</key>
	<string>eventful-870ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79944665764:ios:741db22381b21783bfb431</string>
</dict>
</plist>